@model YusufCv.Models.Deneyimler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Deneyimler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeneyimAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeneyimAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeneyimAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeneyimAciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sertifika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sertifika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SertifikaAciklana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SertifikaAciklana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeneyimId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
